[Desktop Entry]
Encoding=UTF-8
Name=KTurtle
Name[af]=KSkilpad
Name[fi]=Konna
Name[hr]=KKornjača
Name[is]=KSkjaldbaka
Name[ne]=केडीई टर्टल
Name[sv]=Kturtle
Name[tg]=KСангпушт
Name[x-test]=xxKTurtlexx
GenericName=Educational Programming Environment
GenericName[bg]=Програмиране на Лого
GenericName[ca]=Entorn de programació educatiu
GenericName[el]=Περιβάλλον εκπαιδευτικού προγραμματισμού
GenericName[es]=Entorno de programación educativo
GenericName[fa]=محیط برنامه‌سازی آموزشی
GenericName[ga]=Timpeallacht Ríomhchláraithe Oideachasúil
GenericName[it]=Ambiente educativo di programmazione
GenericName[ja]=子供のためのプログラミング環境
GenericName[ne]=शैक्षिक प्रोग्रामिङ परिवेश
GenericName[nl]=Educatieve programmeeromgeving
GenericName[nn]=Lærerikt programmeringsmiljø
GenericName[pt]=Ambiente de Programação em Logo
GenericName[pt_BR]=Ambiente de Programação em Logo
GenericName[sv]=Programmeringsmiljö för utbildning
GenericName[uk]=Навчальне середовище програмування
GenericName[x-test]=xxEducational Programming Environmentxx
GenericName[zh_TW]=教育程式環境
MimeType=text/plain;
Exec=kturtle -i %U
Icon=kturtle
X-DocPath=kturtle/index.html
Type=Application
Categories=Qt;KDE;Education;X-KDE-Edu-Misc;
