[Desktop Entry]
Encoding=UTF-8
DocPath=kturtle/index.html
Name=KTurtle
GenericName=Logo programming environment
Exec=kturtle
Icon=kturtle
Type=Application
Comment=A simple KDE Application
TerminalOptions=
Path=
Terminal=0
X-KDE-StartupNotify=true
Categories=Qt;KDE;Edu;X-KDE-Edu
