[Desktop Entry]
Encoding=UTF-8
DocPath=kturtle/index.html
Name=KTurtle
Name[is]=Kskjaldbaka
Name[sv]=Kturtle
GenericName=Logo programming environment
GenericName[da]=Logo programmeringsmiljø
GenericName[et]=Logo programmeerimise keskkond
GenericName[is]=Logo forritunarumhverfi
GenericName[pt]=Ambiente de programação em Logo
GenericName[pt_BR]=Ambiente de programação Logo
GenericName[ru]=Среда логотипов
GenericName[sv]=Logo-programmeringsmiljö
GenericName[ta]=சிண்ண நிரல் உருவாக சூழல்
Exec=kturtle -caption "%c" %i %m
Icon=kturtle
Type=Application
Comment=A KDE Logo programming environment
Comment[da]=Et  simpelt KDE-program
Comment[et]=Lihtne KDE rakendus
Comment[is]=Einfalt KDE forrit
Comment[pt]=Uma aplicação simples do KDE
Comment[pt_BR]=Um simples aplicativo do KDE
Comment[sv]=Ett enkelt KDE-program
Comment[ta]=ஒரு எளிய KDE பயனபாடு
TerminalOptions=
Path=
Terminal=0
X-KDE-StartupNotify=true
Categories=Qt;KDE;Education
